.wrapper {
  max-width: 1367px;
  margin: 0 auto;
  padding: 30px;
}


.characters-list {
  display: flex;
  row-gap: 20px;
  column-gap: 13px;
  flex-direction: row;
  flex-wrap: wrap;
}
.pagination {
  width: 260px;
  display: flex;
  height: 70px;
  margin: 0 auto;
  align-items: center;
  column-gap: 60px;
}